{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
    <style>
        .card-deck { 
                min-height: 500px!important; 
            }
        a {
            max-height: 32px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">

        <!-- DISPLAYING FAVOURITED PRODUCTS -->
        <div class="row">
            <h1 class="my-5">My favourites</h1>
        </div>

        <div class="row">
            {% for fav in favourites_items %}
                <div class="col-12 col-md-3" id="search-result">
                    <div class="card-deck product--all_card">
                        <div class="img-container">
                            <a href="{% url 'individual_product' fav.id %}">
                                <img class="card-img-top product-img" src="/media/{{ fav.image_url }}" alt="{{ fav.name }}" class="product-images">
                            </a>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'individual_product' fav.id %}" class="product_name">
                                <strong>{{ fav.name }}</strong></h5>
                            </a>
                        {% include "includes/rating.html" %}
                        <p class="card-price mt-3">£{{ fav.price }}</p>
                        </div>
                        <a href="{% url 'remove_product_from_favourites' fav.id 'favourites' %}" 
                            class="btn--red btn--remove ml-3 mb-3 text-small">Remove </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}