{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Your Shopping Bag</h1>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    {% for i in bag_items %}
                        <img src="{{ i.product.image_url }}" alt="">

                        {{ i.product.price }}
                        {{ i.product.sku }}
                        {{ i.product.name }}
                        
                    
                    
                    {% endfor %}

                    </div>
                {% else %}
                    <p>Your bag is empty.</p>
                {% endif %}
                <p>Your total:</p>{{ grand_total }}
        </div>
    </div>
{% endblock %}