{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Get the latest kicks without spending a fortune.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico"
    type="image/x-icon">
    <link rel="icon" href="{{ MEDIA_URL }}favicon.ico"
    type="image/x-icon">
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="../static/js/main.js"></script>
</head>
<body>
    {% include "includes/nav.html" %}

    <!-- FIRST SECTION -->

    <div class="container-fluid home-section">
        <div class="row home-images-rows scroll-section" id="home_section-one">
            <div class="col-12 align-self-center">
                <div class="container">
                    <div class="float-left">
                        <h1>Stomp in style</h1>
                        <h2 class="mb-5">Discover all things footware</h2>
                        <a href="{% url 'products' %}" class="btn--purple">Shop our range</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SECOND SECTION -->
    
    <div class="container-fluid home-section">
        <div class="row home-images-rows scroll-section" id="home_section-two">
            <div class="col-12 align-self-center">
                <div class="container">
                    <div class="float-right">
                        <h2 class="mb-2"><strong>Shop over 50 brands</strong></h3>
                        <p class="mb-5">View all of our brands on offer, from Nike to Urban Outfitters.</p>
                        <a href="{% url 'brands' %}" class="btn--purple">Shop brands</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- THIRD SECTION -->

    <div class="container-fluid home-section">
        <div class="row home-images-rows scroll-section" id="home_section-three">
            <div class="col-12 align-self-center">
                <div class="container">
                    <div class="float-left">
                        <h2 class="mb-2 white"><strong>Free delivery!</strong></h3>
                        <p class="mb-5">On all orders over £{{ free_delivery_threshold }}.</p>
                        <a href="{% url 'products' %}" class="btn--purple">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <p class="my-4 footer__header"><a href="{% url 'products' %}">Kicks Ltd</a></p>
                </div>
                <div class="col-12 col-md-6 ">
                    <div class="footer--icons align-self-center text-center">
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                            <i aria-hidden="true" class="fab fa-facebook-f fa-xs"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                        <a href="https://twitter.com/" target="_blank" rel="noopener">
                            <i aria-hidden="true" class="fab fa-twitter fa-xs"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                            <i aria-hidden="true" class="fab fa-instagram fa-xs"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.scrollify.js' %}"></script>
    <script>
        $(function () {
            $.scrollify({
                section: ".scroll-section",
            });
        });
    </script>
</body>

</html>