{% extends "base.html" %}
{% load static %}

{% block head_title %}Home{% endblock %}
{% block extra_meta %}
    <meta name="description" content="Get the latest kicks without spending a fortune.">
{% endblock %}

{% block content %}
    <div class="container-fluid hero-image">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <h1>Stomp in style</h1>
                    <h2>Discover all things footware</h2>
                    <a href="" class="main-btn btn">Shop our range</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container home-secondary-section">
        <div class="row home-images-rows">
            <div class="col-12 col-md-6">
                <img src="../../../static/home/home_students.png" class="home-images" alt="">
            </div>
            <div class="col-12 col-md-6">
                <h3>Students get 10% off</h3>
                <p>Register for an account with your student email address and we’ll send you a 
                    discount code for 10% off your first order. </p>
                <a href="" class="main-btn btn">Claim discount</a>
            </div>
        </div>
        <div class="row home-images-rows">
            <div class="col-12 col-md-6">
                <h3>Winter sale is now on!</h3>
                <p>Our annual winter sale is back on for another year. 
                    Snap up those shoe deals before it’s too late.</p>
                <a href="" class="main-btn btn">Shop clearance</a>
            </div>
            <div class="col-12 col-md-6">
                <img src="../../../static/home/home_sale.png" class="home-images" alt="">
            </div>
        </div>
    </div>
{% endblock %}