{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 text-center">Brands</h1>
        <h2 class="text-center my-4">View products from {{ brands|length }} brands:</h2>   
        <!-- Credit for regrouping query set 
        by first letter: StackOverflow -->
        {% regroup brands by name|slice:":1" as brand_list %}
        <ul>
            <div class="row my-5">
                {% for brand in brand_list %}
                    <div class="col-md-4 my-4">
                        <h2><strong>{{ brand.grouper|title }}</strong></h2>
                        <ul class="list--alpha_brand">
                            {% for brand in brand.list %}
                            <li>
                                <a href="{% url 'products' %}?product_brand={{ brand.name }}">
                                    {{ brand.friendly_name|title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </ul>
    </div>
{% endblock %}