{% extends "base.html" %}
{% load static %}

{% block content %}

    

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mt-5">
                <a class="btn--grey" id="btn--back" href="{% url 'brands' %}">
                    <i class="fas fa-chevron-left"></i> Back to Brands</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="my-5">Product Management</h1>
                <h2 class="mb-5">Edit a Brand</h2>
            </div>
        </div>
        
        <!-- ADD BRAND FORM -->

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_brand' brand.name %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="my-5">
                        <button class="btn--purple" type="submit">Edit Brand</button>
                        <a class="btn--blank ml-3" href="{% url 'products' %}">Cancel</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>

{% endblock %}