/* Media mixins. */
/* Colors */
/* Typography */
/* Media breakpoints.
Credit: Eduardo Boucas
*/
/* Navbar */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");
#nav {
  background-color: #000000;
}

@media (min-width: 1024px) {
  #nav {
    height: 5rem;
  }
}

#nav a {
  color: #ffffff;
  font-weight: 300;
}

#nav .navbar-brand {
  font-family: "Rubik Mono One", sans-serif;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px #8918fb;
}

#nav .navbar-brand:hover {
  color: #DED92F !important;
}

#nav .btn-outline-warning {
  color: #DED92F;
  border-color: #DED92F;
}

#nav .nav-link {
  font-weight: 400;
  font-size: 0.9rem !important;
  letter-spacing: 1px;
  padding: 2px !important;
}

@media (min-width: 1025px) {
  #nav .nav-link {
    padding: 8px !important;
    font-size: 1rem !important;
  }
}

.dropdown-menu {
  background-color: black !important;
  border: none;
}

.dropdown-item:hover {
  color: black !important;
}

/* BUTTONS */
.btn--purple, .allauth-inner-content button {
  color: white;
  border: 1px #8918fb solid !important;
  padding: 10px;
  background-color: #8918fb !important;
}

.btn--purple:hover, .allauth-inner-content button:hover {
  color: white !important;
  background-color: black !important;
  border: none;
}

body {
  outline: 2px solid red;
}

.btn--thin {
  padding: 4px;
}

.btn--grey, .btn--purple, .btn--red {
  padding: 10px;
}

.btn--grey {
  color: grey;
  border: 1px grey solid;
  background-color: white !important;
}

.btn--grey:hover {
  cursor: pointer;
  color: white !important;
  background-color: grey !important;
}

.btn--red {
  color: white !important;
  background-color: #D8263B !important;
}

.btn--red:hover {
  color: white !important;
  background-color: #8918fb !important;
}

.btn--remove {
  padding: 5px;
}

.btn_to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 5px;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
  background-color: white;
  font-size: 20px;
  font-size: 30px;
  -webkit-box-shadow: 0px 5px 17px 5px rgba(166, 160, 170, 0.38);
  box-shadow: 0px 5px 17px 5px rgba(166, 160, 170, 0.38);
}

.btn_to-top:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 17px 5px rgba(162, 13, 163, 0.38);
  box-shadow: 0px 5px 17px 5px rgba(162, 13, 163, 0.38);
}

.card-deck {
  margin: 5px !important;
  border: 3px black solid;
  -webkit-box-shadow: 7px 9px 0px 0px #8918fb;
  box-shadow: 7px 9px 0px 0px #8918fb;
}

@media (min-width: 320px) {
  .card-deck {
    margin-top: 2rem !important;
  }
}

@media (min-width: 768px) {
  .card-deck {
    margin-top: 5rem !important;
  }
}

.card-deck .card-text {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .product--all_card {
    height: 425px !important;
  }
}

.product--all_card .img-container {
  margin-top: 0px;
}

.product_name {
  list-style-type: none;
  color: black;
}

.product_name:hover {
  color: #8918fb;
  text-decoration: none;
}

.prod-desc {
  margin-top: 3rem;
}

@media (max-width: 767px) {
  .prod-desc {
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  .product-details {
    margin-top: 2rem;
  }
}

/* rating system */
.card-price {
  font-size: 20px;
}

.prod-size, .prod-qty {
  width: 60%;
  display: block;
}

use:nth-child(2) {
  -webkit-transform: translate(20px);
          transform: translate(20px);
}

use:nth-child(3) {
  -webkit-transform: translate(40px);
          transform: translate(40px);
}

use:nth-child(4) {
  -webkit-transform: translate(60px);
          transform: translate(60px);
}

use:nth-child(5) {
  -webkit-transform: translate(80px);
          transform: translate(80px);
}

.rating {
  display: block;
  height: 20px;
  width: 100px;
}

.home-section {
  padding: 0;
  border: 0;
}

@media (min-width: 1024px) {
  .home-section p {
    font-size: 1.2rem;
  }
}

.scroll-section {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  padding: 0;
  border: 0 !important;
  margin: 0 !important;
}

#home_section-one {
  background-color: #B3E140 !important;
}

@media (min-width: 1024px) {
  #home_section-one {
    background-image: url("/media/home_1.webp");
    /* Credit for parallax: w3schools */
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

#home_section-two {
  background-color: #84BFE1 !important;
}

@media (min-width: 1024px) {
  #home_section-two {
    background-image: url("/media/home_2.webp");
    /* Credit for parallax: w3schools */
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

#home_section-three {
  color: #fff;
  background-color: #D8263B !important;
}

@media (min-width: 1024px) {
  #home_section-three {
    background-image: url("/media/home_3.webp");
    /* Credit for parallax: w3schools */
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

.align-middle {
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 768px) {
  .product-details {
    margin-top: 80px;
  }
}

.btn_search-submit, .search-input {
  border-radius: 0px;
}

.search-input {
  width: 160px !important;
}

#try-again {
  display: block !important;
}

.rating-desc {
  color: grey;
  margin-top: 1px;
}

@media (min-width: 768px) {
  .rating-desc {
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .rating-desc, .rating-aria, .rating {
    display: inline;
  }
}

#main--bag img {
  width: 80%;
  border: 3px #8918fb solid;
  margin-bottom: 20px;
}

.bag--total {
  font-size: 1.5rem;
}

.nav__total {
  color: #DED92F !important;
  margin: 0px !important;
  font-size: 0.9rem !important;
}

.nav__bag-indicator-circle {
  width: 1.3rem;
  height: 1.3rem;
  color: black;
  background-color: #DED92F;
  margin-left: 15px !important;
  position: relative;
  border-radius: 100%;
  margin-top: 18px;
}

.nav__bag-icon {
  margin-left: -30px !important;
}

@media (max-width: 768px) {
  .nav__bag-icon {
    margin-left: auto !important;
  }
}

.nav__bag-indicator-text {
  margin-bottom: 0px !important;
  font-size: 12px !important;
  font-weight: 600;
}

.nav__total {
  margin-right: 15px !important;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #000000 !important;
  color: #DED92F;
}

footer .footer__header {
  font-size: 20px;
  font-weight: 500;
}

footer .footer--icons a {
  color: white !important;
  font-size: 38px;
}

footer .footer--icons a:hover {
  color: #DED92F !important;
}

@media (min-width: 320px) {
  footer .footer--icons a {
    padding-right: 50px;
  }
}

footer p a {
  color: white !important;
}

footer p a:hover {
  color: #DED92F !important;
}

.list--alpha_brand {
  list-style-type: none;
  padding: 0;
}

.list--alpha_brand li a {
  color: black;
  padding-bottom: 5px;
  text-decoration: underline;
}

.list--alpha_brand li a:hover {
  color: #8918fb;
}

.qty_input {
  outline: 1px solid black;
}

.input-group {
  width: 30% !important;
}

.input-group .form-qty-label {
  margin-right: 30px !important;
}

.total--delivery_prompt {
  color: #8918fb;
}

.message-container {
  z-index: 99999999999999;
}

.toast {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .toast {
    top: 84px;
    right: 10px;
  }
}

.toast .toast-header-success {
  background-color: #B1CD44 !important;
  color: black;
}

.toast .toast-header-error {
  background-color: red;
  color: white;
}

.toast .toast-header-info {
  background-color: grey;
  color: black;
}

.toast .toast-header-warning {
  background-color: #DED92F;
  color: black;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.toast-body-delivery {
  background-color: #DED92F !important;
}

.form-control:focus {
  border-color: #DED92F !important;
}

.order-history {
  max-height: 416px;
  overflow-y: auto;
}

.favourite {
  color: #D8263B !important;
}

.review--paras {
  font-size: 1.4rem;
}

@media (min-width: 320px) {
  .nav--user_account {
    margin-left: -26px !important;
    margin-top: 10px !important;
  }
}

@media (min-width: 1024px) {
  .nav--user_account {
    margin-left: 0px !important;
  }
}

.nav-link:hover, .nav-icon:hover {
  color: #DED92F !important;
}

.btn-outline-warning:hover {
  color: #000000 !important;
  background-color: #DED92F;
}

.search-input:focus {
  outline: 2px solid #DED92F;
}

/* image zoom hover effect. Credit: Lucy Wheel */
.img-container {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.img-container img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.img-container:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Accessibility measure. Credit: Cory House */
[aria-current] {
  font-weight: 700 !important;
}

/* Fix: html rule eliminated horizontal scrollbar bug on mobile view. Credit: StackOverflow */
html, body {
  overflow-x: hidden;
}

body {
  font-family: "Outfit", sans-serif;
}

nav {
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}
