/* Media mixins. */
/* Colors */
/* Typography */
/* Media breakpoints.
Credit: Eduardo Boucas
*/
/* Navbar */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");
#nav {
  background-color: #000000;
}

@media (min-width: 768px) {
  #nav {
    height: 5rem;
  }
}

#nav a {
  color: #ffffff;
  font-weight: 300;
}

#nav .navbar-brand {
  font-family: "Rubik Mono One", sans-serif;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px #8918fb;
}

#nav .navbar-brand:hover {
  color: #DED92F !important;
}

#nav .btn-outline-warning {
  color: #DED92F;
  border-color: #DED92F;
}

#nav .nav-link {
  font-weight: 400;
  letter-spacing: 1px;
}

/* home hero section */
.hero-image {
  background-image: url("../home/home_hero.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .hero-image .container {
    margin-top: 250px;
  }
}

@media (min-width: 768px) {
  .hero-image .container a {
    margin-top: 50px;
  }
}

/* buttons */
.main-btn {
  color: #ffffff;
  background-color: #8918fb;
}

.main-btn:hover {
  color: #ffffff !important;
  background-color: #370569 !important;
}

@media (min-width: 320px) {
  .home-secondary-section > div, .home-secondary-section > div > div {
    margin-top: 30px;
  }
}

.home-images {
  width: 80%;
}

.card-deck {
  margin: 5px !important;
  border: 3px black solid;
  -webkit-box-shadow: 7px 9px 0px 0px #8918fb;
  box-shadow: 7px 9px 0px 0px #8918fb;
}

@media (min-width: 768px) {
  .card-deck {
    margin-top: 5rem !important;
  }
}

.card-deck .card-body {
  height: 17.6rem !important;
}

/* rating system */
.card-price {
  font-weight: 700;
}

use:nth-child(2) {
  -webkit-transform: translate(20px);
          transform: translate(20px);
}

use:nth-child(3) {
  -webkit-transform: translate(40px);
          transform: translate(40px);
}

use:nth-child(4) {
  -webkit-transform: translate(60px);
          transform: translate(60px);
}

use:nth-child(5) {
  -webkit-transform: translate(80px);
          transform: translate(80px);
}

.rating {
  display: block;
  height: 20px;
  width: 100px;
}

.home-secondary-section {
  padding: 0;
  border: 0;
}

.scroll-section {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  border: 0 !important;
  margin: 0 !important;
}

#scroll-green {
  background-color: #B1CD44 !important;
}

#scroll-red {
  background-color: #D8243C !important;
}

@media (min-width: 768px) {
  .product-details {
    margin-top: 80px;
  }
}

.search-term {
  background-color: #f1e100;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

#try-again {
  display: block !important;
}

.rating-desc {
  color: grey;
  margin-left: 15px;
  margin-top: 1px;
}

.rating-desc, .rating-aria, .rating {
  display: inline;
}

.btn--grey {
  color: grey;
  border: 1px grey solid;
  padding: 10px;
}

.btn--grey:hover {
  color: white;
  background-color: grey;
}

.nav-link:hover, .nav-icon:hover {
  color: #DED92F !important;
}

.btn-outline-warning:hover {
  color: #000000 !important;
  background-color: #DED92F;
}

.search-input:focus {
  outline: 2px solid #DED92F;
}

/* image zoom hover effect. Credit: Lucy Wheel */
.img-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 540px;
}

.img-container img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.img-container:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Accessibility measure. Credit: Cory House */
[aria-current] {
  font-weight: 700 !important;
}

body {
  font-family: "Outfit", sans-serif;
}

nav {
  font-family: "Montserrat", sans-serif !important;
}

h1 {
  font-weight: 700;
}
/*# sourceMappingURL=base.css.map */