<footer class="page-footer font-small mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="my-4 footer__header">Kicks Ltd</p>
                <p><a href="{% url 'products' %}">Shop all Footwear</a></p>
            </div>
            <div class="col">
                <div class="footer--icons row mt-5">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                        <i aria-hidden="true" class="fab fa-facebook-f"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                    <a href="https://twitter.com/" target="_blank" rel="noopener">
                        <i aria-hidden="true" class="fab fa-twitter"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                        <i aria-hidden="true" class="fab fa-instagram"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>