<nav class="navbar navbar-expand-md navbar-dark" id="nav">
    <a class="navbar-brand" href="{% url 'home' %}">
        Kicks
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'products' %}?product_group=womens">Women's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'products' %}?product_group=mens">Men's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'products' %}?product_group=childrens">Kid's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="#">Clearance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="#">Brands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'products' %}?product_type=socks">Socks</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link mx-1 dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'products' %}?product_type=trainers,babyshoes,sandals,boots,pumps,heels,daps,brogues">Shoes</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=trainers">Trainers</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=babyshoes">Baby shoes</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=sandals">Sandals</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=boots">Boots</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=pumps">Pumps</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=heels">Heels</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=daps">Daps</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=brogues">Brogues</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'products' %}">All</a>
            </li>
        </ul>
        <a class="nav-icon mx-3" href="{% url 'view_shopping_bag' %}" aria-label="Shopping basket"><i class="fas fa-shopping-basket fa-lg"></i></a>
        <a class="nav-icon mx-3" href="" aria-label="User account"><i class="fas fa-user fa-lg"></i></a>
        <!-- FIXME adjust tablet view of search bar with icons-->
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products' %}">
            <input class="search-input form-control mr-sm-2" type="search" name="search" placeholder="Search for products" aria-label="Search for products">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>