<nav class="navbar navbar-expand-lg navbar-dark" id="nav">
    <a class="navbar-brand" href="{% url 'home' %}">
        Kicks
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'products' %}?product_group=womens">Women's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'products' %}?product_group=mens">Men's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'products' %}?product_group=childrens">Kid's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-1" href="{% url 'brands' %}">Brands</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link mx-1 dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'products' %}?product_type=trainers,babyshoes,sandals,boots,pumps,heels,daps,brogues">Shop all</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}">All products</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=trainers">Trainers</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=baby">Baby</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=sandals">Sandals</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=boots">Boots</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=pumps">Pumps</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=heels">Heels</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=daps">Daps</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=brogues">Brogues</a>
                    <a class="dropdown-item" href="{% url 'products' %}?product_type=socks">Socks</a>
                </div>
            </li>
        </ul>
        {% if total > 0 %}
            <p class="nav__total">£{{ total|floatformat:2 }}</p>
            <div class="nav__bag-indicator-circle">
                <p class="nav__bag-indicator-text text-center">{{ product_count }}</p>
            </div>
        {% elif total == 0 %}
            <p class="nav__total"></p>
        {% endif %}
        <a class="nav__bag-icon nav-icon mx-3" href="{% url 'view_shopping_bag' %}" aria-label="Shopping basket" title="Shopping basket"><i class="fas fa-shopping-basket fa-lg"></i></a>
        <a class="nav-icon mx-3" href="" aria-label="User account" title="User account"><i class="fas fa-user fa-lg"></i></a>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products' %}">
            <input class="search-input form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search for products">
            <button class="btn btn-outline-warning btn_search-submit my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</nav>
