// @use '_mixins';

/* Navbar */
#nav {
    background-color: $black;
    @include for-tablet-up {
        height: 5rem;
    }
    a {
        color: $white;
        font-weight: 300;
    }
    .navbar-brand {
        font-family: $tertiary-font;
        letter-spacing: 0.2em;
        text-shadow: 1px 1px $purple;

        &:hover {
            color: $yellow!important;
        }
    }
    .btn-outline-warning {
        color: $yellow;
        border-color: $yellow;
    }
    .nav-link {
        font-weight: 400;
        letter-spacing: 1px;
    }
}

.dropdown-menu {
    background-color: black!important;
    border: none;
}


.dropdown-item:hover {
    color: black!important;
}
/* home hero section */ 

.hero-image {
    background-image: url("../home/home_hero.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .container {
        @include for-tablet-up {
            margin-top: 250px;
        }

        a {
            @include for-tablet-up {
                margin-top: 50px;
            }
        }
    }
}


/* buttons */ 

.main-btn {
    color: $white;
    background-color: $purple;

    &:hover {
        color: $white!important;
        background-color: #370569!important;
    }
}
.home-secondary-section {
    > div, > div > div {
        @include for-phone-up {
            // outline: 2px red solid;
            margin-top: 30px;
        }
    }
}
.home-images {
    width: 80%;
}


.card-deck {
    margin: 5px!important;
    border: 3px rgb(0, 0, 0) solid;
    -webkit-box-shadow: 7px 9px 0px 0px $purple; 
    box-shadow: 7px 9px 0px 0px $purple;

    @include for-phone-up {
        margin-top: 2rem!important;
    }

    @include for-tablet-up {
        margin-top: 5rem!important;
    }

    .card-body {
        height: 17.6rem!important;
    }

    .card-text {
        margin-top: 1rem;
    }
}

.prod-desc {
    @include for-phone-only {
        margin-top: 1rem;
    }
    margin-top: 3rem;
}

.product-details {
    @include for-phone-only {
        margin-top: 2rem;
    }
}

/* rating system */ 

.card-price {
    font-weight: 700;
}

use {
    &:nth-child(2) {
    transform: translate(20px);
    }
    &:nth-child(3) {
    transform: translate(40px);
    }
    &:nth-child(4) {
    transform: translate(60px);
    }
    &:nth-child(5) {
    transform: translate(80px);
    }
}

.rating {
    display: block;
    height: 20px;
    width: 100px;
}

.home-secondary-section {
    padding: 0;
    border: 0;
}

.scroll-section {
    // position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    border: 0!important;
    margin: 0!important;
}

#scroll-green {
    background-color: #B1CD44!important;
}

#scroll-red {
    background-color: #D8243C!important;
}

.product-details {
    @include for-tablet-up {
        margin-top: 80px;
    }
}

.search-term {
    background-color: #f1e100;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#try-again {
    display: block!important;
}

.rating-desc {
    color: grey;
    margin-top: 1px;
    @include for-tablet-up {
        margin-left: 15px;
    }
}

.rating-desc, .rating-aria, .rating {
    @include for-tablet-up {
        display: inline;
    }
}

.btn--grey {
    color: grey;
    border: 1px grey solid;
    padding: 10px;
    background-color: white!important;

    &:hover {
        color: white!important;
        background-color: grey!important;

    }
}

.btn_to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 5px;
    height: 60px!important;
    width: 60px!important;
    border-radius: 50%;
    font-size: 20px;
    font-size: 30px;
    -webkit-box-shadow: 0px 5px 17px 5px rgba(166, 160, 170, 0.38); 
    box-shadow: 0px 5px 17px 5px rgba(166, 160, 170, 0.38);

    &:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 5px 17px 5px rgba(162,13,163,0.38); 
        box-shadow: 0px 5px 17px 5px rgba(162,13,163,0.38);
    }
}

.btn--sort {
    background-color: white!important;
    border: 2px solid $purple!important;
    border-radius: 20px!important;

    &:hover {
        background-color: $yellow!important;
        border: 2px solid $yellow!important;
    }
}

#main--bag img {
    width: 80%;
    border: 3px $purple solid;
    margin-bottom: 20px;
}

.bag--total {
    font-size: 1.5rem;
}

.nav__total {
    color: $yellow!important;
    margin: 0px!important;
}

.nav__bag-indicator-circle {
    width: 20px;
    height: 20px;
    color: black;
    background-color: $yellow;
    margin-left: 15px!important;
    position: relative;
    border-radius: 100px;
    margin-top: 18px;
}

.nav__bag-icon {
    margin-left: -30px!important;
    @include for-phone-only {
        margin-left: auto!important;
    }
}

.nav__bag-indicator-text {
    margin-bottom: 0px!important;
    font-size: 12px!important;
}

.nav__total {
    margin-right: 15px!important;
}