// @use '_mixins';

/* Navbar */
#nav {
    background-color: $black;
    @include for-desktop-up {
        height: 5rem;
    }
    a {
        color: $white;
        font-weight: 300;
    }
    .navbar-brand {
        font-family: $tertiary-font;
        letter-spacing: 0.2em;
        text-shadow: 1px 1px $purple;

        &:hover {
            color: $yellow!important;
        }
    }
    .btn-outline-warning {
        color: $yellow;
        border-color: $yellow;
    }
    .nav-link {
        font-weight: 400;
        font-size: 0.9rem!important;
        letter-spacing: 1px;
        padding: 2px!important;
        @include for-large-screens-up {
            padding: 8px!important;
            font-size: 1rem!important;
        }
    }
}

.dropdown-menu {
    background-color: black!important;
    border: none;
}


.dropdown-item:hover {
    color: black!important;
}

/* BUTTONS */ 

.btn--purple, .allauth-inner-content button {
    color: white;
    border: 1px $purple solid!important;
    padding: 10px;
    background-color: $purple!important;
    &:hover {
        color: white!important;
        background-color: black!important;
        border: none;

    }
}

body {
    outline: 2px solid red;
}

.btn--thin {
    padding: 4px;
}

.btn--grey, .btn--purple, .btn--red {
    padding: 10px;
}

.btn--grey {
    color: grey;
    border: 1px grey solid;
    background-color: white!important;
    &:hover {
        cursor: pointer;
        color: white!important;
        background-color: grey!important;

    }
}

.btn--red {
    color: white!important;
    background-color: $red!important;
    &:hover {
        color: white!important;
        background-color: $purple!important;
    }
}

.btn--remove {
    padding: 5px;
}

.btn--blank {
    color: black!important;
}

.btn--blank:hover {
    color: #8918fb;
}

.btn_to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 5px;
    height: 60px!important;
    width: 60px!important;
    border-radius: 50%;
    background-color: white;
    font-size: 20px;
    font-size: 30px;
    -webkit-box-shadow: 0px 5px 17px 5px rgba(166, 160, 170, 0.38); 
    box-shadow: 0px 5px 17px 5px rgba(166, 160, 170, 0.38);

    &:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 5px 17px 5px rgba(162,13,163,0.38); 
        box-shadow: 0px 5px 17px 5px rgba(162,13,163,0.38);
    }
}

.card-deck {
    margin: 5px!important;
    border: 3px rgb(0, 0, 0) solid;
    -webkit-box-shadow: 7px 9px 0px 0px $purple; 
    box-shadow: 7px 9px 0px 0px $purple;
    @include for-phone-up {
        margin-top: 2rem!important;
    }

    @include for-tablet-up {
        margin-top: 5rem!important;
    }


    .card-text {
        margin-top: 1rem;
    }
}

.product--all_card {
    @include for-tablet-up {
        height: 425px!important;
    }
    .img-container {
        margin-top: 0px;
    }
}

.product_name {
    list-style-type: none;
    color: black;
    &:hover {
        color: $purple;
        text-decoration: none;
    }
}

.prod-desc {
    @include for-phone-only {
        margin-top: 1rem;
    }
    margin-top: 3rem;
}

.product-details {
    @include for-phone-only {
        margin-top: 2rem;
    }
}

/* rating system */ 

.card-price {
    font-size: 20px;
}

.prod-size, .prod-qty {
    width: 60%;
    display: block;
}

use {
    &:nth-child(2) {
    transform: translate(20px);
    }
    &:nth-child(3) {
    transform: translate(40px);
    }
    &:nth-child(4) {
    transform: translate(60px);
    }
    &:nth-child(5) {
    transform: translate(80px);
    }
}

.rating {
    display: block;
    height: 20px;
    width: 100px;
}

.home-section {
    padding: 0;
    border: 0;
    p {
        @include for-desktop-up {
            font-size: 1.2rem;
        }
    }
}

.scroll-section {
    // position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
    padding: 0;
    border: 0!important;
    margin: 0!important;
}

#home_section-one {
    background-color: #B3E140!important;
    @include for-desktop-up {
        background-image: url("/media/home_1.webp");
        /* Credit for parallax: w3schools */
        min-height: 250px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

#home_section-two {
    background-color: #84BFE1!important;
    @include for-desktop-up {
        background-image: url("/media/home_2.webp");
        /* Credit for parallax: w3schools */
        min-height: 250px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

#home_section-three {
    color: #fff;
    background-color: $red!important;
    @include for-desktop-up {
        background-image: url("/media/home_3.webp");
        /* Credit for parallax: w3schools */
        min-height: 250px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

.align-middle {
    margin-top: auto;
    margin-bottom: auto;
}



.product-details {
    @include for-tablet-up {
        margin-top: 80px;
    }
}

.btn_search-submit, .search-input {
    border-radius: 0px;
}

.search-input {
    width: 160px!important;
}


#try-again {
    display: block!important;
}

.rating-desc {
    color: grey;
    margin-top: 1px;
    @include for-tablet-up {
        margin-left: 15px;
    }
}

.rating-desc, .rating-aria, .rating {
    @include for-tablet-up {
        display: inline;
    }
}

#main--bag img {
    width: 80%;
    border: 3px $purple solid;
    margin-bottom: 20px;
}

.bag--total {
    font-size: 1.5rem;
}

.nav__total {
    color: $yellow!important;
    margin: 0px!important;
    font-size: 0.9rem!important;
}

.nav__bag-indicator-circle {
    width: 1.3rem;
    height: 1.3rem;
    color: black;
    background-color: $yellow;
    margin-left: 15px!important;
    position: relative;
    border-radius: 100%;
    margin-top: 18px;
}

.nav__bag-icon {
    margin-left: -30px!important;
    @include for-tablet-only {
        margin-left: auto!important;
    }
}

.nav__bag-indicator-text {
    margin-bottom: 0px!important;
    font-size: 12px!important;
    font-weight: 600;
}

.nav__total {
    margin-right: 15px!important;
}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    .footer__header {
        font-size: 20px;
        font-weight: 500;
    }
    background-color: $black!important;
    color: $yellow;
    .footer--icons a {
        color: white!important;

        &:hover {
            color: $yellow!important;
        }
        font-size: 38px;
        @include for-phone-up {
            padding-right: 50px;
        }
        
    }
    p a {
        color: white!important;
        &:hover {
            color: $yellow!important;
        }
    }
}

.list--alpha_brand {
    list-style-type: none;
    padding: 0;

    li a {
        color: black;
        padding-bottom: 5px;
        text-decoration: underline;
        &:hover {
            color: $purple;
        }
    }
}

.qty_input {
    outline: 1px solid black;
}

.input-group {
    width: 30%!important;
    .form-qty-label {
        margin-right: 30px!important;
    }
}

.total--delivery_prompt {
    color: $purple;
}

.message-container {
    z-index: 99999999999999;
}

.toast {
    position: absolute;
    top: 0;
    right: 0;
    @include for-tablet-up {
        top: 84px;
        right: 10px;
    }

    .toast-header-success {
        background-color: #B1CD44!important;
        color: black;
    }

    .toast-header-error {
        background-color: red;
        color: white;
    }

    .toast-header-info {
        background-color: grey;
        color: black;
    }

    .toast-header-warning {
        background-color: $yellow;
        color: black;
    }

}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-body-delivery {
    background-color: $yellow!important;
}

.form-control:focus {
    border-color: $yellow!important;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

.favourite {
    color: $red!important;
}

.review--paras {
    font-size: 1.4rem;
}

.nav--user_account {
    @include for-phone-up {
        margin-left: -26px!important;
        margin-top: 10px!important;
    }
    @include for-desktop-up {
        margin-left: 0px!important;
    }
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
