// @use '_mixins';

/* Navbar */
#nav {
    background-color: $black;
    a {
        color: $white;
        font-weight: 300;
    }
    .navbar-brand {
        font-family: $tertiary-font;
        letter-spacing: 0.2em;
        text-shadow: 1px 1px $purple;

        &:hover {
            color: $yellow!important;
        }
    }
    .btn-outline-warning {
        color: $yellow;
        border-color: $yellow;
    }
}

/* home hero section */ 

.hero-image {
    background-image: url("../home/home_hero.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .container {
        @include for-tablet-up {
            margin-top: 250px;
        }

        a {
            @include for-tablet-up {
                margin-top: 50px;
            }
        }
    }
}

/* buttons */ 

.main-btn {
    color: $white;
    background-color: $purple;

    &:hover {
        color: $white!important;
        background-color: #370569!important;
    }
}

.home-secondary-section {
    > div, > div > div {
        @include for-phone-up {
            // outline: 2px red solid;
            margin-top: 30px;
        }
    }
}


.home-images {
    width: 100%;
}

.card-deck {
    margin: 5px!important;
    border: 2px rgb(0, 0, 0) solid;

    @include for-tablet-up {
        margin-top: 5rem!important;
    }

    .card-body {
        height: 17.6rem!important;
    }
}

/* rating system */ 

.card-price {
    font-weight: 700;
}

use {
    &:nth-child(2) {
    transform: translate(20px);
    }
    &:nth-child(3) {
    transform: translate(40px);
    }
    &:nth-child(4) {
    transform: translate(60px);
    }
    &:nth-child(5) {
    transform: translate(80px);
    }
}

.rating {
    display: block;
    height: 20px;
    width: 100px;
    margin-bottom: 15px;
}
  