/* Navbar */
#nav {
    background-color: $black;
    a {
        color: $white;
        font-weight: 300;
    }
    .navbar-brand {
        font-family: 'Rubik Mono One', sans-serif;
        letter-spacing: 0.2em;
        text-shadow: 1px 1px $purple;
    }
    .btn-outline-warning {
        color: $yellow;
        border-color: $yellow;
    }
}

/* home hero section */ 

.hero-image {
    background-image: url("../../media/home_hero.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}