// @use '_mixins';

/* Navbar */
#nav {
    background-color: $black;
    @include for-tablet-up {
        height: 5rem;
    }
    a {
        color: $white;
        font-weight: 300;
    }
    .navbar-brand {
        font-family: $tertiary-font;
        letter-spacing: 0.2em;
        text-shadow: 1px 1px $purple;

        &:hover {
            color: $yellow!important;
        }
    }
    .btn-outline-warning {
        color: $yellow;
        border-color: $yellow;
    }
    .nav-link {
        font-weight: 400;
        letter-spacing: 1px;
    }
}

/* home hero section */ 

.hero-image {
    background-image: url("../home/home_hero.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .container {
        @include for-tablet-up {
            margin-top: 250px;
        }

        a {
            @include for-tablet-up {
                margin-top: 50px;
            }
        }
    }
}


/* buttons */ 

.main-btn {
    color: $white;
    background-color: $purple;

    &:hover {
        color: $white!important;
        background-color: #370569!important;
    }
}
.home-secondary-section {
    > div, > div > div {
        @include for-phone-up {
            // outline: 2px red solid;
            margin-top: 30px;
        }
    }
}
.home-images {
    width: 80%;
}


.card-deck {
    margin: 5px!important;
    border: 3px rgb(0, 0, 0) solid;
    -webkit-box-shadow: 7px 9px 0px 0px $purple; 
    box-shadow: 7px 9px 0px 0px $purple;

    @include for-tablet-up {
        margin-top: 5rem!important;
    }

    .card-body {
        height: 17.6rem!important;
    }
}

/* rating system */ 

.card-price {
    font-weight: 700;
}

use {
    &:nth-child(2) {
    transform: translate(20px);
    }
    &:nth-child(3) {
    transform: translate(40px);
    }
    &:nth-child(4) {
    transform: translate(60px);
    }
    &:nth-child(5) {
    transform: translate(80px);
    }
}

.rating {
    display: block;
    height: 20px;
    width: 100px;
    margin-bottom: 15px;
}

.home-secondary-section {
    padding: 0;
    border: 0;
}

.scroll-section {
    // position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    border: 0!important;
    margin: 0!important;
}

#scroll-green {
    background-color: #B1CD44!important;
}

#scroll-red {
    background-color: #D8243C!important;
}

.product-details {
    @include for-tablet-up {
        margin-top: 80px;
    }
}

.search-term {
    background-color: #f1e100;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#try-again {
    display: block!important;
}