.nav-link:hover, .nav-icon:hover { 
    color: $yellow!important;
}

.btn-outline-warning:hover {
    color: $black!important;
    background-color: $yellow;
}

.search-input:focus {
    outline: 2px solid $yellow;
}

/* image zoom hover effect. Credit: Lucy Wheel */ 

.img-container {
    position: relative;
    margin: auto;
    overflow: hidden;    
}

.img-container img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.img-container:hover img {
    transform: scale(1.1);
}
    

/* Credit: Modern CSS Dev */
/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}