/* Media mixins. */ 

@mixin for-phone-only {
    @media (max-width: 767px) { @content; }
}

@mixin for-phone-up {
    @media (min-width: $breakpoint-phone) { @content; }
}

@mixin for-tablet-up {
    @media (min-width: $breakpoint-tablet) { @content; }
}

@mixin for-tablet-only {
    @media (max-width: $breakpoint-tablet) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: $breakpoint-desktop) { @content; }
}

@mixin for-large-screens-up {
    @media (min-width: $breakpoint-min-large-screen) { @content; }
}