/* Colors */ 

$yellow: #DED92F !default;
$purple: #8918fb !default;
$black: #000000 !default;
$white: #ffffff !default;
$red: #D8263B !default;
$grey: #474747 !default;

/* Typography */

$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Outfit', sans-serif;
$tertiary-font: 'Rubik Mono One', sans-serif;

/* Media breakpoints.
Credit: Eduardo Boucas
*/ 

$breakpoint-phone:320px;
$breakpoint-tablet:988px;
$breakpoint-desktop:1024px;
$breakpoint-min-large-screen:1025px;
