@import "_mixins";
@import "_variables";
@import "_components";
@import "_effects";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');

/* Accessibility measure. Credit: Cory House */
[aria-current] {
    font-weight: 700!important;
}

body {
    font-family: $secondary-font;
}

nav {
    font-family: $main-font!important;
}

h1 {
    font-weight: 700;
}

