{% extends 'base.html' %}

{% block extra_css %}
{{ block.super }}
    <style>
        img {
            margin-top: 0;
            border: 3px rgb(0, 0, 0) solid;
            -webkit-box-shadow: 5px 7px 0px 0px #8918fb; 
            box-shadow: 5px 7px 0px 0px #8918fb;
        }
        .btn--blank {
            color: black!important;
        }
        .btn--blank:hover {
            color: #8918fb;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mt-5">
            <button class="btn--grey" id="btn--back"><i class="fas fa-chevron-left"></i> Keep Shopping</button>
        </div>
    </div>

    <!-- HEADING -->

    <h1 class="my-5">Edit your review</h1>

    <!-- FORM -->

    {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'edit_review' review.pk %}" class="form mb-2 mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="mr-4 font-weight-bold">{{ product.name }}</p>
                <img class="w-100" src="/media/{{ product.image_url }}" alt="{{ product.description }}" class="product-images">
            </div>
            <div class="col-12 col-md-8">
                {{ form|crispy }}
            </div>
        </div>
        <div class="my-5">
            <button class="btn--purple" type="submit">Update Review</button>
            <a class="ml-3 btn--blank" href="{% url 'individual_product' product_id %}">Cancel</a>
        </div>
        
            
    </form>
    {% else %}

    <!-- REDIRECT -->

    <p>Please <a href="{% url 'login' %}">login</a> to your account or <a href="{% url 'register' %}">register</a> to update a review.</p>

    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
  <script type="text/javascript">
        window.onload=function(){
            // Sends user back to previous page
            $("#btn--back").on("click", function() {
                history.go(-1);
            });
        }
  </script>
{% endblock %}