{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="my-5">Product Management</h1>
                <h2 class="mb-5">Edit a Product</h2>
            </div>
        </div>
        
        <!-- ADD PRODUCT FORM -->

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="my-5">
                        <button class="btn--purple" type="submit">Edit Product</button>
                        <a class="btn--blank ml-3" href="{% url 'products' %}">Cancel</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}