{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mt-5">
                <button class="btn--grey" id="btn--back"><i class="fas fa-chevron-left"></i> Keep Shopping</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card-deck">
                    <div class="img-container">
                        <img class="card-img product-img" src="../../../static/home/{{ product.image_url }}" alt="{{ product.description }}" class="product-images">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="product-details">
                    <h1><strong>{{ product.name }}</strong></h1>
                    {% include "includes/rating.html" %}
                    <p class="rating-desc"><em>Based on customer feedback.</em></p>
                    <p class="prod-desc">{{ product.description }}</p>
                    <p class="card-price">£{{ product.price }}</p>
                    <p>
                        <a href="{% url 'products' %}?product_brand={{ product.product_brand.name }}">
                            Brand: {{ product.product_brand.friendly_name }}
                        </a>
                    </p>

                    {% if product.product_type %}
                        <a href="{% url 'products' %}?product_type={{ product.product_type.name }}">
                            View all {{ product.product_type.friendly_name }}
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        <p>Quantity:</p>
        <input type="number" name="quantity" value="1" min="1" max="999" data-item-id="{{ product.id }}" id="id_qty_{{ product.id }}">
        <input type="submit" value="Add to Cart">
        <!-- can i redirect through js instead? -->
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </form>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
  <script type="text/javascript">
        window.onload=function(){
            // Sends user back to previous page
            $("#btn--back").on("click", function() {
                history.go(-1);
            });
        }
  </script>
{% endblock %}