{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mt-5">
                <button class="btn--grey" id="btn--back"><i class="fas fa-chevron-left"></i> Keep Shopping</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card-deck">
                    <div class="img-container">
                        <img class="card-img product-img" src="/media/{{ product.image_url }}" alt="{{ product.description }}" class="product-images">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">

                <!-- PRODUCT DETAILS -->

                <div class="product-details">
                    <div class="row ml-0">
                        <span>
                            <h1>{{ product.name }}</h1>
                        </span>
                        <span>
                                <!-- FAVOURITING PRODUCTS -->
    
                                {% if is_product_in_favourites %}
                                <a href="{% url 'remove_product_from_favourites' product.id 'product' %}" aria-label="remove product from favourites"
                                    class="favourite favourite-remove ml-4 fa-2x"><i class="fas fa-heart"></i></a>
                                {% else %}
                                <a href="{% url 'add_product_to_favourites' product.id %}" aria-label="add product to favourites"
                                    class="favourite ml-4 fa-2x"><i class="far fa-heart"></i></a>
                                {% endif %}
                        </span>
                    </div>
                    
                        
                            
                    
                    {% include "includes/rating.html" %}
                    <p class="rating-desc">{{ product.rating}}/5 stars</p>
                    <div class="prod-btns mt-3">
                        <a class="btn--grey btn--thin px-2" href="{% url 'products' %}?product_brand={{ product.product_brand.name }}">
                            <i class="fas fa-tag"></i>
                            {{ product.product_brand.friendly_name }} Brand
                        </a>
                        {% if product.product_type %}
                            <a class="btn--grey btn--thin px-2 mx-2" href="{% url 'products' %}?product_type={{ product.product_type.name }}">
                                <i class="fas fa-tag"></i>
                                {{ product.product_type.friendly_name }}
                            </a>
                        {% endif %}
                    </div>
                    <p class="prod-desc">{{ product.description }}</p>
                    <p class="card-price mb-4">Price: <strong>£{{ product.price }}</strong></p>

                    <!-- ADD TO CART -->

                    <form action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        {% include "includes/sizing.html" %}
                        <label for="quantity" class="mt-4">Quantity</label>
                        <input type="number" name="quantity" value="1" min="1" max="999" data-item-id="{{ product.id }}" id="id_quantity_{{ product.id }}" class="prod-qty">
                        <input type="submit" class="btn--purple mt-4" value="Add to Cart">
                        <!-- can i redirect through js instead? -->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                   

                </div>
            </div>
        </div>
    </div>

    

{% endblock %}

{% block postloadjs %}
{{ block.super }}
  <script type="text/javascript">
        window.onload=function(){
            // Sends user back to previous page
            $("#btn--back").on("click", function() {
                history.go(-1);
            });
        }
  </script>
{% endblock %}