{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <!-- Credit: Modern CSS Dev 
    Smooth scrolling IF user doesn't have a preference due to motion sensitivities -->
    <style>
        @media screen and (prefers-reduced-motion: no-preference) {
            html {
            scroll-behavior: smooth;
            }
        } 
    </style>
{% endblock %}


{% block content %}

    <div class="container">

        <!-- SEARCH RESULTS-->

            {% if search_term %}
                <h1 class="mt-5 mb-4" id="search-result-text">{{ products|length }} search results for<span class="ml-2">
                    '{{ search_term }}'</span></h1>
                <span id="try-again"></span>
                <a href="{% url 'products' %}" id="research-btn" class="btn--grey"><i class="fas fa-times"></i>  Clear search results</a>
            {% else %}

                <!-- HEADER -->

                <h1 class="mt-5 text-center">Step in and explore all</h1>

                <!-- SORTING PRODUCTS -->

                <h2 class="text-center my-4">Sort by...</h2>    
                <div class="d-flex flex-row justify-content-center my-4">
                    <button class="btn--sort px-4" id="btn--sort--price--asc">Price (low to high)</button>
                    <span class="mx-2">│</span>
                    <button class="btn--sort px-4" id="btn--sort--price--desc">Price (high to low)</button>
                    <span class="mx-2">│</span>
                    <button class="btn--sort px-4" id="btn--sort--rating--desc">Rating</button>
                </div>

                

            {% endif %}
        
        
        
        <!-- DISPLAYING PRODUCTS-->

        <div class="row">
            {% for product in products %}
                <div class="col-12 col-md-3" id="search-result">
                    <div class="card-deck">
                        <div class="img-container">
                            <a href="{% url 'individual_product' product.id %}">
                                <img class="card-img-top product-img" src="../../../static/home/{{ product.image_url }}" alt="{{ product.description }}" class="product-images">
                            </a>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
                        {% include "includes/rating.html" %}
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-price"><strong>£{{ product.price }}</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}

  <script type="text/javascript">
        window.onload=function(){
            // Adds sorting params to url. 
            $("#btn--sort--price--asc").on("click", function() {
                const params = new URLSearchParams(location.search);
                params.delete('sort');
                params.delete('direction');
                params.append('sort', 'price');
                params.append('direction', 'asc');
                window.history.replaceState({}, '', `${location.pathname}?${params}`);
                location.reload();
            });
            $("#btn--sort--price--desc").on("click", function() {
                const params = new URLSearchParams(location.search);
                params.delete('sort');
                params.delete('direction');
                params.append('sort', 'price');
                params.append('direction', 'desc');
                window.history.replaceState({}, '', `${location.pathname}?${params}`);
                location.reload();
            });
            $("#btn--sort--rating--desc").on("click", function() {
                const params = new URLSearchParams(location.search);
                params.delete('sort');
                params.delete('direction');
                params.append('sort', 'rating');
                params.append('direction', 'desc');
                window.history.replaceState({}, '', `${location.pathname}?${params}`);
                location.reload();
            });
        }
  </script>
  
{% endblock %}