{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
            {% if search_term %}
                <h1 class="mt-5 mb-4" id="search-result-text">{{ products|length }} search results for<span class="ml-2">'{{ search_term }}'</span></h1>
                <span id="try-again"></span>
                <a href="{% url 'products' %}" id="research-btn" class="btn--grey"><i class="fas fa-times"></i>  Clear search results</a>
            {% else %}
                <h1 class="mt-5">Step in and explore all</h1>
            {% endif %}
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-md-3" id="search-result">
                    <div class="card-deck">
                        <div class="img-container">
                            <a href="{% url 'individual_product' product.id %}">
                                <img class="card-img-top product-img" src="../../../static/home/{{ product.image_url }}" alt="{{ product.description }}" class="product-images">
                            </a>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
                        {% include "includes/rating.html" %}
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-price"><strong>£{{ product.price }}</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% block postloadjs %}
        <script src="../../../static/js/search.js" crossorigin="anonymous"></script>
    {% endblock %}

{% endblock %}